<<<<<<< HEAD



<h1 class="display-1 text-center">Welcome to {{this.groupName}}'s Homepage</h1>

<p class="lead text-center"> Current Members </p>
<div class="container align-center">
<button type="button" class="btn btn-success"><a href="addUser">Add a Member</a></button>
<button type="button" class="btn btn-info"><a href="addEvent">Add an Event</button>
<button type="button" class="btn btn-info"><a href="events">View Events</a></button>
</div>
<hr>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col"> First Name </th>
      <th score="col"> Last Name </th>
      <th score="col"> Email </th>
      <th score="col"> Id </th>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td>{{this.UserFirstName}}</td>
        <td>{{this.UserLastName}}</td>
        <td><a href="mailto:{{this.UserEmail}}">{{this.UserEmail}}</a></td>
        <td>{{this.UserID}}</td>
        <td><button id="deleteUser_{{this.UserID}}_{{this.GroupID}}" type="button" class="btn btn-danger deleteUser" >Remove Member</button></td>
        </tr>
        {{/each}}
      </tbody>
  </table>
</div>
=======



<h1 class="display-1 text-center">Welcome to {{this.groupName}}'s Homepage</h1>

<p class="lead text-center"> Current Members </p>
<div class="container align-center">
<button type="button" class="btn btn-success"><a href="addUser">Add a Member</a></button>
<button type="button" class="btn btn-info"><a href="addEvent">Add an Event</button>
<button type="button" class="btn btn-info"><a href="events">View Events</a></button>
</div>
<hr>
<div class="container">
  <table class="table">
    <thead>
      <th scope="col"> First Name </th>
      <th score="col"> Last Name </th>
      <th score="col"> Email </th>
      <th score="col"> Id </th>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <td>{{this.UserFirstName}}</td>
        <td>{{this.UserLastName}}</td>
        <td><a href="mailto:{{this.UserEmail}}">{{this.UserEmail}}</a></td>
        <td>{{this.UserID}}</td>
        <td><button id="deleteUser_{{this.UserID}}_{{this.GroupID}}" type="button" class="btn btn-danger deleteUser" >Remove Member</button></td>
        </tr>
        {{/each}}
      </tbody>
  </table>
</div>
>>>>>>> 076e348567f38e165f7afdeed11a6cf97c82e8e7
