<h1 class="display-1 text-center">Hello {{this.Username}}</h1>
<div class="container">
<p class="h1 text-center">Visit your groups</p>
<table class="table">
<tbody>
  {{#each results1}}
  <tr>
      <td>{{this.GroupName}}</td>
      <td>{{this.GroupDescription}}</td>
      <td><button type="submit" class="btn btn-info"><a href="groups?ID={{this.GroupID}}">View</a></button>
  </tr>
  {{/each}}
</tbody>
</table>
</div>
<div class="container">
  <p class="h1 text-center">Most Popular Groups!</p>
  <table class="table">
  <tbody>
    {{#each results2}}
    <tr>
        <td>{{this.GroupName}}</td>
        <td>{{this.GroupDescription}}</td>
        <td><button type="submit" class="btn btn-info"><a href="groups?ID={{this.GroupID}}">View</a></button>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
